* {
    padding: 0%;
    margin: 0%;
}
body {
    height: 100vh;
    background-image:url(/assets/img/beautiful-music-orchestra-iwjqmcvj9p92tozv.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    width: 90%;
    height: 72px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 32px;
    background-color: #faebd7b2;

}
.flex-header {
    display: flex;
    height: 100%;
    width: 96%;
    justify-content: space-around;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
}
/* ............ لوگو .......... */

.logo-header {
    height: 32px;
    border-radius: 50%;    
    margin-top: 8px;
}
.logo-header:hover {
    box-shadow: 0px 5px 10px black;
}
/* ............ فونت .......... */
@font-face {
    font-family: bziba;
    src: url('/assets/fonts/pixelboy-BZiba.eot');
    src: url('/assets/fonts/pixelboy-BZiba.eot') format('FontName-opentype'),
         url('/assets/fonts/pixelboy-BZiba.woff') format('woff'),
         url('/assets/fonts/pixelboy-BZiba.ttf') format('truetype');
    font-weight: normal; }
.font-header {
    display: inline;
    font-family: bziba; 
    font-size: 32px;
    align-content: center;
    height: 100%;
    margin-left: 1%;

}
.title-header {
    margin-right: auto;
    margin-left: auto;
    
}
/* ....... پایان هدر ...... */
/* ...... بخش مین ...... */
.flex-main {
    margin-top: 6%;
    display: flex;
    height: 274px;
    width: 51%;
    justify-content: space-around;
    margin-left: 27%;
    margin-right: 27%;
    align-items: center;
    flex-flow: row-reverse;
    flex-wrap: wrap;
}
button {
    height: 74px;
    width: 190px;
    border: none;
    background-color: #82311e;
    border-radius: 4px;
    text-align: center;
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
button:hover {
    text-shadow: 2px 2px 4px #000000;  
    background: #e1c3ab5e;
    border:1px solid #82311e;
}
h4 {
    color: #e1c3ab;
    font-size: 16px;
    font-family: vazir;
}
@font-face {
    font-family: vazir;
    src: url('/assets/fonts/Vazir.eot');
    src: url('/assets/fonts/Vazir.eot') format('FontName-opentype'),
         url('/assets/fonts/Vazir.woff') format('woff'),
         url('/assets/fonts/Vazir.ttf') format('truetype');
    font-weight: normal; }
    /* ..... پایان بخش مین .... */
footer {
    display: none;
}
    /* .........  اسکرین گوشی ....... */
@media(max-width:600px){
    body {
        background-position: center;
    }
    header {
        height: 38px;
    }
    .font-header {
        font-size: 11px;
    }
    .logo-header {
        height: 11px;
    }
    .flex-main {
        margin-top: 10%;
        height: 500px;
        flex-direction: column;
    }
    button {
        height: 40px;
        width: 169px;
    }
    h4 {
        font-size: 11px;
    }
    footer {
        display: block;
        height: 67px;
        width: 90%;
        margin-top: 121px;
        margin-left: 5%;
        margin-right: 5%;
        background-color: #faebd7b2;
    }
    .flex-footer {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    footer div {
        text-align: center;
    }
    .logo-footer {
        height: 15px;
    }
    .font-footer {
        font-family: bziba;
        font-size: 6px;
    }
}